
/*-- scss:defaults --*/
/* Override colors */
$success: #33658A;   // bleu
$secondary: #F1D763; // jaune
$primary: #1F908E;   // vert
$danger: #C94326;    // rouge
$warning: #F7A913;   // orange
$info: #99B6B2;      // clair

/*-- scss:rules --*/
// You can add extra custom CSS rules here if needed
