on:
  workflow_dispatch:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
    
name: Build website

jobs:
  build:
    name: Build website with quarto
    runs-on: ubuntu-latest
    container: mpetienne/mode2025:0.1
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install R packages
        run: |
          Rscript -e "install.packages(c('RefManageR', 'wesanderson', 'palmerpenguins', 'corrplot', 'lme4', 'rsq','deSolve','devtools', 'dplyr','readr', 'stringi', 'ggplot2', 'vegan', 'tidyr', 'gridtext', 'ggtext','FactoMineR','ade4','factoextra','knitr'))"
          Rscript -e "devtools::install_github('mjg211/phaseR')"

      - name: Generate slides
        run: "quarto render"
      - name: GitHub Pages action
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
